
@media (hover: none) {
    #about-me {
        font-size: 0px;
    }
    #about-me::after{
        content: attr(data-hover) ;
        font-size: 1rem;
        color: red;
    }
}

@media (hover: hover) {
    #about-me:hover {
        font-size: 0;
    }
    
    #about-me:hover:after {
        content: attr(data-hover);
        font-size: 1rem;
    }
    
}