:root {
    --font-color1: gray;
}

* {
    color: white;
    border: 0;
    margin: 0;
}

#background {
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    height: 100%;

}
body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    display: flex;

}

.navi {
    padding-top: 30%;
    padding-left: 70%;
}


@media (hover: none) {

    .nav {
        font-size: 0px;
    }

    .nav::after{
        content: attr(data-hover) ;
        font-size: 1rem;
        
    }

    a {
        color: gray;
    }

    #background {
        max-width: 700px;
        object-fit: cover;
    }

    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    
}

@media (hover: hover) {
    
    .nav:hover {
        font-size: 0;
    }
    
    .nav:hover:after {
        content: attr(data-hover);
        font-size: 1rem;
    }
    
}